fail_fast: false
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.1.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: ["--force-scope", "--strict"]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.20.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-json
      - id: pretty-format-json
        args: ["--autofix", "--indent=4", "--no-sort-keys"]
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: name-tests-test
      - id: sort-simple-yaml
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: ["--fix=lf"]
        description: Forces to replace line ending by the UNIX 'lf' character.
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.3
    hooks:
      - id: ruff # Run the linter.
      - id: ruff-format # Run the formatter.
  - repo: https://github.com/klen/pylama
    rev: 8.4.1
    hooks:
      - id: pylama
        additional_dependencies: ["pylama[all,toml]", "setuptools"]
  - repo: https://github.com/pycqa/pylint
    rev: v3.1.0
    hooks:
      - id: pylint
        additional_dependencies:
          [
            "django-allauth",
            "django-filter",
            "django-stubs[compatible-mypy]",
            "djangorestframework",
            "djangorestframework-stubs[compatible-mypy]",
            "icalendar",
            "markdown",
            "psycopg[binary,pool]",
            "pydantic",
            "pydantic-settings",
            "pylint-django[with-django]",
            "python-json-logger",
            "rich",
          ]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        additional_dependencies:
          [
            "django-allauth",
            "django-filter",
            "django-stubs[compatible-mypy]",
            "djangorestframework",
            "djangorestframework-stubs[compatible-mypy]",
            "icalendar",
            "markdown",
            "psycopg[binary,pool]",
            "pydantic",
            "pydantic-settings",
            "python-json-logger",
            "rich",
          ]
