{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg" href="{% url 'core:favicon' %}">
    <title>{{ request.site.name }} | {% block head_title %}{% endblock head_title %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />

    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        body>main {
            flex: 1;
        }
    </style>
</head>

<body>
    {% include "components/navbar.html" %}

    <main class="section">
        <div class="container">
            <div class="columns">

                <div class="column is-one-fifth">
                    {% if messages %}
                    {% include "elements/messages.html" %}
                    {% endif %}
                </div>

                <div class="column">
                    {% block content %}
                    {% endblock content %}
                </div>

                <div class="column is-one-fifth">
                    {% include "components/menus.html" %}
                </div>

            </div>
        </div>
    </main>

    {% include "components/footer.html" %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine-ie11.min.js" integrity="sha512-Atu8sttM7mNNMon28+GHxLdz4Xo2APm1WVHwiLW9gW4bmHpHc/E2IbXrj98SmefTmbqbUTOztKl5PDPiu0LD/A==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
</body>

</html>
