{% load i18n %}
<aside class="menu">
    {% if user.is_staff %}
    <p class="menu-label">{% translate 'Administration' %}</p>
    <ul class="menu-list">
        <li><a href="{% url 'admin:index' %}">{% translate 'Site administration' %}</a></li>
    </ul>
    {% endif %}

    {% if user.is_authenticated %}
    <p class="menu-label">
        {{ user }}
    </p>
    <ul class="menu-list">
        <li><a href="{% url 'accounts:profile' %}">{% translate 'Your profile' %}</a></li>
        <li><a href="{% url 'account_email' %}">{% translate 'Change Email' %}</a></li>
        <li><a href="{% url 'account_change_password' %}">{% translate 'Change Password' %}</a></li>
        <li><a href="{% url 'account_logout' %}">{% translate 'Sign Out' %}</a></li>
    </ul>
    {% endif %}
</aside>
