{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% translate 'Home' %}{% endblock head_title %}

{% block content %}
<div class="block has-text-centered">
    <h1 class="title">{{ request.site.name }}</h1>
    <p class="subtitle">{{ request.site.domain }}</p>
</div>
<hr>
{% include "core/widgets/stats.html" %}
<hr>
{% if user.is_authenticated %}
<div class="notification">
    {% include "anniversaries/widgets/upcoming_birthdays.html" %}
</div>
{% endif %}
{% endblock content %}
