{% load i18n %}
<aside class="menu">
    {% if user.is_staff %}
    <p class="menu-label">{% translate 'Administration' %}</p>
    <ul class="menu-list">
        <li><a href="{% url 'admin:index' %}">{% translate 'Site administration' %}</a></li>
    </ul>
    {% endif %}

    {% if user.is_authenticated %}
    <p class="menu-label">
        {{ user }}
    </p>
    <ul class="menu-list">
        {% url 'accounts:profile' as the_url %}
        <li><a href="{{ the_url }}" {% if request.path == the_url %}class="is-active"{% endif %}>{% translate 'My profile' %}</a></li>

        {% url 'account_email' as the_url %}
        <li><a href="{% url 'account_email' %}" {% if request.path == the_url %}class="is-active"{% endif %}>{% translate 'Change Email' %}</a></li>

        {% url 'account_change_password' as the_url %}
        <li><a href="{% url 'account_change_password' %}" {% if request.path == the_url %}class="is-active"{% endif %}>{% translate 'Change Password' %}</a></li>
    </ul>
    {% endif %}
</aside>
